* @DataDog/serverless-onboarding-enablement

# Documentation
*.md  @DataDog/documentation

# ECS
examples/ecs  @DataDog/container-platform
src/ecs  @DataDog/container-platform
src/sample/ecs_fargate  @DataDog/container-platform
test/ecs  @DataDog/container-platform