* @DataDog/serverless-onboarding-enablement

# Documentation
*.md  @DataDog/documentation

# ECS
examples/ecs  @DataDog/container-platform
src/ecs  @DataDog/container-platform
src/sample/ecs_fargate  @DataDog/container-platform
test/ecs  @DataDog/container-platform
integration_tests/snapshots/correct-ecs-* @DataDog/container-platform
integration_tests/stacks/typescript/ecs* @DataDog/container-platform