**/.terraform/*
*.auto.tfvars
*.tfstate
*.tfstate.backup
*.tfvars.json
*.tfvars
*.tfplan

**/__pycache__/*
*.py[cod]
*.pyo
*.pyd
*.pyc
*.egg-info/
dist/
build/
.env
venv/
*.log
*.sqlite3
.mypy_cache/
.cache/
*.cover
.coverage
htmlcov/
*.pytest_cache/